<!DOCTYPE html>
<% slots.crumbs.unshift({'title': 'Home', 'href': '/'}) %>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= slots.title %></title>
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/static/css/justjs.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/fontello.css">
  <!--[if IE 7]><link rel="stylesheet" href="/static/css/fontello-ie7.css"><![endif]-->
  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
</head>
<body class="<%- slots.bodyClass %>">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Refresh BR</a>
        <div class="navbar-content">
          <ul class="nav">
            <%- partial('nav', {}) %>
          </ul>
          <%- partial('login', {}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!-- %- partial('crumbs', {}) % -->
    <%- partial('feedback', {}) %>
    <div class="row-fluid">
      <div class="span12">
        <!-- <h1><%= slots.title %></h1> -->
        <%- slots.body %>
      </div>
    </div>
  </div>
  <!-- Scripts at the end, for faster page load -->
  <script type="text/javascript" src="/static/js/MD5.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootbox.min.js"></script>
</body>
</html>
